-- CreateTable
CREATE TABLE "Competition" (
    "id" TEXT NOT NULL,
    "fullName" TEXT NOT NULL,
    "address" TEXT,
    "phone" TEXT,
    "grade" TEXT,
    "competitionName" TEXT NOT NULL,
    "studentAgreement" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Competition_pkey" PRIMARY KEY ("id")
);

-- AlterTable
ALTER TABLE "Special" ADD COLUMN     "announcing" JSONB;

/*
  Warnings:

  - You are about to drop the column `specialId` on the `AnnouncingForm` table. All the data in the column will be lost.

*/
-- DropIndex
DROP INDEX "AnnouncingForm_specialId_key";

-- AlterTable
ALTER TABLE "AnnouncingForm" DROP COLUMN "specialId";

/*
  Warnings:

  - You are about to drop the `Sibling` table. If the table is not empty, all the data it contains will be lost.
  - You are about to drop the `Student` table. If the table is not empty, all the data it contains will be lost.

*/
-- DropForeignKey
ALTER TABLE "Sibling" DROP CONSTRAINT "Sibling_studentId_fkey";

-- DropTable
DROP TABLE "Sibling";

-- DropTable
DROP TABLE "Student";

-- CreateTable
CREATE TABLE "StudentRequest" (
    "id" TEXT NOT NULL,
    "fullNameWithSurname" TEXT NOT NULL,
    "nameWithInitials" TEXT,
    "dob" TIMESTAMP(3),
    "address" TEXT,
    "phone1" TEXT,
    "phone2" TEXT,
    "school" TEXT,
    "earlierSchool" "YesNo" NOT NULL DEFAULT 'NO',
    "earlierSchoolReason" TEXT,
    "reasonForLeave" TEXT,
    "fatherFullName" TEXT,
    "fatherJob" TEXT,
    "fatherJobAddress" TEXT,
    "motherFullName" TEXT,
    "motherJob" TEXT,
    "motherJobAddress" TEXT,
    "guardianFullName" TEXT,
    "guardianJob" TEXT,
    "guardianJobAddress" TEXT,
    "emergencyPersonName" TEXT,
    "emergencyPersonAddress" TEXT,
    "emergencyNumber" TEXT,
    "disabilities" "YesNo" NOT NULL DEFAULT 'NO',
    "disabilityReason" TEXT,
    "medicated" "YesNo" NOT NULL DEFAULT 'NO',
    "medicine" TEXT,
    "registrationPayment" DOUBLE PRECISION,
    "registrationDate" TIMESTAMP(3),
    "indexNo" TEXT,
    "libraryNo" TEXT,
    "house" TEXT,
    "grade" TEXT,
    "studentActiveMonitor" "StudentMonitor" NOT NULL DEFAULT 'NOT_GIVEN',
    "agreeToTerms" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "StudentRequest_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "StudentRequestSibling" (
    "id" TEXT NOT NULL,
    "studentRequestId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "grade" TEXT,

    CONSTRAINT "StudentRequestSibling_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "StudentRequestSibling_studentRequestId_idx" ON "StudentRequestSibling"("studentRequestId");

-- AddForeignKey
ALTER TABLE "StudentRequestSibling" ADD CONSTRAINT "StudentRequestSibling_studentRequestId_fkey" FOREIGN KEY ("studentRequestId") REFERENCES "StudentRequest"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- CreateEnum
CREATE TYPE "UserRole" AS ENUM ('ADMIN', 'TEACHER', 'STUDENT');

-- CreateTable
CREATE TABLE "User" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "passwordHash" TEXT NOT NULL,
    "fullName" TEXT,
    "role" "UserRole" NOT NULL DEFAULT 'STUDENT',
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "lastLoginAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "RefreshToken" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "tokenHash" TEXT NOT NULL,
    "expiresAt" TIMESTAMP(3) NOT NULL,
    "revokedAt" TIMESTAMP(3),
    "createdByIp" TEXT,
    "revokedByIp" TEXT,
    "replacedById" TEXT,
    "userAgent" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "RefreshToken_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "User"("email");

-- CreateIndex
CREATE UNIQUE INDEX "RefreshToken_tokenHash_key" ON "RefreshToken"("tokenHash");

-- CreateIndex
CREATE INDEX "RefreshToken_userId_idx" ON "RefreshToken"("userId");

-- CreateIndex
CREATE INDEX "RefreshToken_expiresAt_idx" ON "RefreshToken"("expiresAt");

-- AddForeignKey
ALTER TABLE "RefreshToken" ADD CONSTRAINT "RefreshToken_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- CreateTable
CREATE TABLE "Student" (
    "id" TEXT NOT NULL,
    "fullNameWithSurname" TEXT NOT NULL,
    "nameWithInitials" TEXT,
    "dob" TIMESTAMP(3),
    "address" TEXT,
    "phone1" TEXT,
    "phone2" TEXT,
    "school" TEXT,
    "earlierSchool" "YesNo" NOT NULL DEFAULT 'NO',
    "earlierSchoolReason" TEXT,
    "reasonForLeave" TEXT,
    "fatherFullName" TEXT,
    "fatherJob" TEXT,
    "fatherJobAddress" TEXT,
    "motherFullName" TEXT,
    "motherJob" TEXT,
    "motherJobAddress" TEXT,
    "guardianFullName" TEXT,
    "guardianJob" TEXT,
    "guardianJobAddress" TEXT,
    "emergencyPersonName" TEXT,
    "emergencyPersonAddress" TEXT,
    "emergencyNumber" TEXT,
    "disabilities" "YesNo" NOT NULL DEFAULT 'NO',
    "disabilityReason" TEXT,
    "medicated" "YesNo" NOT NULL DEFAULT 'NO',
    "medicine" TEXT,
    "registrationPayment" DOUBLE PRECISION,
    "registrationDate" TIMESTAMP(3),
    "indexNo" TEXT,
    "libraryNo" TEXT,
    "house" TEXT,
    "grade" TEXT,
    "studentActiveMonitor" "StudentMonitor" NOT NULL DEFAULT 'NOT_GIVEN',
    "agreeToTerms" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Student_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "StudentSibling" (
    "id" TEXT NOT NULL,
    "studentId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "grade" TEXT,

    CONSTRAINT "StudentSibling_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "StudentSibling_studentId_idx" ON "StudentSibling"("studentId");

-- AddForeignKey
ALTER TABLE "StudentSibling" ADD CONSTRAINT "StudentSibling_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES "Student"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AlterTable
CREATE TYPE "StudentRequestStatus" AS ENUM ('ACCEPTED', 'REJECTED', 'PENDING');

ALTER TABLE "StudentRequest" ADD COLUMN     "status" "StudentRequestStatus" NOT NULL DEFAULT 'PENDING';

UPDATE "StudentRequest"
SET "status" = CASE
    WHEN "isAccepted" = TRUE THEN 'ACCEPTED'::"StudentRequestStatus"
    ELSE 'PENDING'::"StudentRequestStatus"
END;

ALTER TABLE "StudentRequest" DROP COLUMN     "isAccepted";

-- CreateTable
CREATE TABLE "Special" (
    "id" TEXT NOT NULL,
    "dancing" JSONB,
    "kathika" JSONB,
    "padyagayana" JSONB,
    "debate" JSONB,
    "acting" JSONB,
    "singing" JSONB,
    "prefectOrClassLeader" JSONB,
    "committee" JSONB,
    "other" JSONB,
    "announcingFormId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Special_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "AnnouncingForm" (
    "id" TEXT NOT NULL,
    "fullNameWithSurname" TEXT NOT NULL,
    "birthday" TIMESTAMP(3),
    "address" TEXT,
    "phoneLand" TEXT,
    "phoneMobile" TEXT,
    "school" TEXT,
    "guardianName" TEXT,
    "guardianAddress" TEXT,
    "specialId" TEXT,
    "studentAgreement" BOOLEAN NOT NULL DEFAULT false,
    "marks" DOUBLE PRECISION,
    "status" "SelectionStatus" NOT NULL DEFAULT 'NOT_SELECTED',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "AnnouncingForm_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "Special_announcingFormId_key" ON "Special"("announcingFormId");

-- CreateIndex
CREATE UNIQUE INDEX "AnnouncingForm_specialId_key" ON "AnnouncingForm"("specialId");

-- AddForeignKey
ALTER TABLE "Special" ADD CONSTRAINT "Special_announcingFormId_fkey" FOREIGN KEY ("announcingFormId") REFERENCES "AnnouncingForm"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- CreateEnum
CREATE TYPE "StudentMonitor" AS ENUM ('GIVEN', 'NOT_GIVEN');

-- AlterTable
ALTER TABLE "Student" ADD COLUMN     "gradeEn" TEXT,
ADD COLUMN     "gradeSi" TEXT,
ADD COLUMN     "houseEn" TEXT,
ADD COLUMN     "houseSi" TEXT,
ADD COLUMN     "indexNo" TEXT,
ADD COLUMN     "libraryNo" TEXT,
ADD COLUMN     "medicine" TEXT,
ADD COLUMN     "studentActiveMonitor" "StudentMonitor" NOT NULL DEFAULT 'NOT_GIVEN';

/*
  Warnings:

  - You are about to drop the `CourierRequest` table. If the table is not empty, all the data it contains will be lost.

*/
-- CreateEnum
CREATE TYPE "YesNo" AS ENUM ('YES', 'NO');

-- DropTable
DROP TABLE "CourierRequest";

-- CreateTable
CREATE TABLE "Student" (
    "id" SERIAL NOT NULL,
    "fullNameWithSurnameEn" TEXT NOT NULL,
    "fullNameWithSurnameSi" TEXT,
    "nameWithInitialsEn" TEXT,
    "nameWithInitialsSi" TEXT,
    "dob" TIMESTAMP(3),
    "addressEn" TEXT,
    "addressSi" TEXT,
    "phone1" TEXT,
    "phone2" TEXT,
    "schoolEn" TEXT,
    "schoolSi" TEXT,
    "earlierSchool" "YesNo" NOT NULL DEFAULT 'NO',
    "earlierSchoolEn" TEXT,
    "earlierSchoolSi" TEXT,
    "reasonForLeaveEn" TEXT,
    "reasonForLeaveSi" TEXT,
    "fatherFullNameEn" TEXT,
    "fatherFullNameSi" TEXT,
    "fatherJobEn" TEXT,
    "fatherJobSi" TEXT,
    "fatherJobAddressEn" TEXT,
    "fatherJobAddressSi" TEXT,
    "motherFullNameEn" TEXT,
    "motherFullNameSi" TEXT,
    "motherJobEn" TEXT,
    "motherJobSi" TEXT,
    "motherJobAddressEn" TEXT,
    "motherJobAddressSi" TEXT,
    "guardianFullNameEn" TEXT,
    "guardianFullNameSi" TEXT,
    "guardianJobEn" TEXT,
    "guardianJobSi" TEXT,
    "guardianJobAddressEn" TEXT,
    "guardianJobAddressSi" TEXT,
    "emergencyPersonNameEn" TEXT,
    "emergencyPersonNameSi" TEXT,
    "emergencyPersonAddressEn" TEXT,
    "emergencyPersonAddressSi" TEXT,
    "emergencyNumber" TEXT,
    "disabilities" "YesNo" NOT NULL DEFAULT 'NO',
    "disabilityReasonEn" TEXT,
    "disabilityReasonSi" TEXT,
    "medicated" "YesNo" NOT NULL DEFAULT 'NO',
    "registrationPayment" DOUBLE PRECISION,
    "registrationDate" TIMESTAMP(3),
    "agreeToTerms" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Student_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Sibling" (
    "id" SERIAL NOT NULL,
    "studentId" INTEGER NOT NULL,
    "nameEn" TEXT NOT NULL,
    "nameSi" TEXT,
    "gradeEn" TEXT,
    "gradeSi" TEXT,

    CONSTRAINT "Sibling_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "Sibling_studentId_idx" ON "Sibling"("studentId");

-- AddForeignKey
ALTER TABLE "Sibling" ADD CONSTRAINT "Sibling_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES "Student"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- CreateTable
CREATE TABLE "CourierRequest" (
    "id" SERIAL NOT NULL,
    "name_en" TEXT NOT NULL,
    "name_si" TEXT NOT NULL,
    "phone" TEXT NOT NULL,
    "address_en" TEXT NOT NULL,
    "address_si" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'pending',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "CourierRequest_pkey" PRIMARY KEY ("id")
);

/*
  Warnings:

  - The primary key for the `Sibling` table will be changed. If it partially fails, the table could be left without primary key constraint.
  - The primary key for the `Student` table will be changed. If it partially fails, the table could be left without primary key constraint.
  - Changed the type of `id` on the `Sibling` table. No cast exists, the column would be dropped and recreated, which cannot be done if there is data, since the column is required.
  - Changed the type of `studentId` on the `Sibling` table. No cast exists, the column would be dropped and recreated, which cannot be done if there is data, since the column is required.
  - Changed the type of `id` on the `Student` table. No cast exists, the column would be dropped and recreated, which cannot be done if there is data, since the column is required.

*/
-- DropForeignKey
ALTER TABLE "Sibling" DROP CONSTRAINT "Sibling_studentId_fkey";

-- AlterTable
ALTER TABLE "Sibling" DROP CONSTRAINT "Sibling_pkey",
DROP COLUMN "id",
ADD COLUMN     "id" UUID NOT NULL,
DROP COLUMN "studentId",
ADD COLUMN     "studentId" UUID NOT NULL,
ADD CONSTRAINT "Sibling_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "Student" DROP CONSTRAINT "Student_pkey",
DROP COLUMN "id",
ADD COLUMN     "id" UUID NOT NULL,
ADD CONSTRAINT "Student_pkey" PRIMARY KEY ("id");

-- CreateIndex
CREATE INDEX "Sibling_studentId_idx" ON "Sibling"("studentId");

-- AddForeignKey
ALTER TABLE "Sibling" ADD CONSTRAINT "Sibling_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES "Student"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

/*
  Warnings:

  - The primary key for the `PrefectBoard` table will be changed. If it partially fails, the table could be left without primary key constraint.
  - You are about to drop the column `addressEn` on the `PrefectBoard` table. All the data in the column will be lost.
  - You are about to drop the column `addressSi` on the `PrefectBoard` table. All the data in the column will be lost.
  - You are about to drop the column `fullNameEn` on the `PrefectBoard` table. All the data in the column will be lost.
  - You are about to drop the column `fullNameSi` on the `PrefectBoard` table. All the data in the column will be lost.
  - You are about to drop the column `gradeEn` on the `PrefectBoard` table. All the data in the column will be lost.
  - You are about to drop the column `gradeSi` on the `PrefectBoard` table. All the data in the column will be lost.
  - You are about to drop the column `parentsNameEn` on the `PrefectBoard` table. All the data in the column will be lost.
  - You are about to drop the column `parentsNameSi` on the `PrefectBoard` table. All the data in the column will be lost.
  - You are about to drop the column `specialNoteEn` on the `PrefectBoard` table. All the data in the column will be lost.
  - You are about to drop the column `specialNoteSi` on the `PrefectBoard` table. All the data in the column will be lost.
  - The primary key for the `Sibling` table will be changed. If it partially fails, the table could be left without primary key constraint.
  - You are about to drop the column `gradeEn` on the `Sibling` table. All the data in the column will be lost.
  - You are about to drop the column `gradeSi` on the `Sibling` table. All the data in the column will be lost.
  - You are about to drop the column `nameEn` on the `Sibling` table. All the data in the column will be lost.
  - You are about to drop the column `nameSi` on the `Sibling` table. All the data in the column will be lost.
  - The primary key for the `Student` table will be changed. If it partially fails, the table could be left without primary key constraint.
  - You are about to drop the column `addressEn` on the `Student` table. All the data in the column will be lost.
  - You are about to drop the column `addressSi` on the `Student` table. All the data in the column will be lost.
  - You are about to drop the column `disabilityReasonEn` on the `Student` table. All the data in the column will be lost.
  - You are about to drop the column `disabilityReasonSi` on the `Student` table. All the data in the column will be lost.
  - You are about to drop the column `earlierSchoolEn` on the `Student` table. All the data in the column will be lost.
  - You are about to drop the column `earlierSchoolSi` on the `Student` table. All the data in the column will be lost.
  - You are about to drop the column `emergencyPersonAddressEn` on the `Student` table. All the data in the column will be lost.
  - You are about to drop the column `emergencyPersonAddressSi` on the `Student` table. All the data in the column will be lost.
  - You are about to drop the column `emergencyPersonNameEn` on the `Student` table. All the data in the column will be lost.
  - You are about to drop the column `emergencyPersonNameSi` on the `Student` table. All the data in the column will be lost.
  - You are about to drop the column `fatherFullNameEn` on the `Student` table. All the data in the column will be lost.
  - You are about to drop the column `fatherFullNameSi` on the `Student` table. All the data in the column will be lost.
  - You are about to drop the column `fatherJobAddressEn` on the `Student` table. All the data in the column will be lost.
  - You are about to drop the column `fatherJobAddressSi` on the `Student` table. All the data in the column will be lost.
  - You are about to drop the column `fatherJobEn` on the `Student` table. All the data in the column will be lost.
  - You are about to drop the column `fatherJobSi` on the `Student` table. All the data in the column will be lost.
  - You are about to drop the column `fullNameWithSurnameEn` on the `Student` table. All the data in the column will be lost.
  - You are about to drop the column `fullNameWithSurnameSi` on the `Student` table. All the data in the column will be lost.
  - You are about to drop the column `gradeEn` on the `Student` table. All the data in the column will be lost.
  - You are about to drop the column `gradeSi` on the `Student` table. All the data in the column will be lost.
  - You are about to drop the column `guardianFullNameEn` on the `Student` table. All the data in the column will be lost.
  - You are about to drop the column `guardianFullNameSi` on the `Student` table. All the data in the column will be lost.
  - You are about to drop the column `guardianJobAddressEn` on the `Student` table. All the data in the column will be lost.
  - You are about to drop the column `guardianJobAddressSi` on the `Student` table. All the data in the column will be lost.
  - You are about to drop the column `guardianJobEn` on the `Student` table. All the data in the column will be lost.
  - You are about to drop the column `guardianJobSi` on the `Student` table. All the data in the column will be lost.
  - You are about to drop the column `houseEn` on the `Student` table. All the data in the column will be lost.
  - You are about to drop the column `houseSi` on the `Student` table. All the data in the column will be lost.
  - You are about to drop the column `motherFullNameEn` on the `Student` table. All the data in the column will be lost.
  - You are about to drop the column `motherFullNameSi` on the `Student` table. All the data in the column will be lost.
  - You are about to drop the column `motherJobAddressEn` on the `Student` table. All the data in the column will be lost.
  - You are about to drop the column `motherJobAddressSi` on the `Student` table. All the data in the column will be lost.
  - You are about to drop the column `motherJobEn` on the `Student` table. All the data in the column will be lost.
  - You are about to drop the column `motherJobSi` on the `Student` table. All the data in the column will be lost.
  - You are about to drop the column `nameWithInitialsEn` on the `Student` table. All the data in the column will be lost.
  - You are about to drop the column `nameWithInitialsSi` on the `Student` table. All the data in the column will be lost.
  - You are about to drop the column `reasonForLeaveEn` on the `Student` table. All the data in the column will be lost.
  - You are about to drop the column `reasonForLeaveSi` on the `Student` table. All the data in the column will be lost.
  - You are about to drop the column `schoolEn` on the `Student` table. All the data in the column will be lost.
  - You are about to drop the column `schoolSi` on the `Student` table. All the data in the column will be lost.
  - Added the required column `fullName` to the `PrefectBoard` table without a default value. This is not possible if the table is not empty.
  - Added the required column `name` to the `Sibling` table without a default value. This is not possible if the table is not empty.
  - Added the required column `fullNameWithSurname` to the `Student` table without a default value. This is not possible if the table is not empty.

*/
-- DropForeignKey
ALTER TABLE "Sibling" DROP CONSTRAINT "Sibling_studentId_fkey";

-- AlterTable
ALTER TABLE "PrefectBoard" DROP CONSTRAINT "PrefectBoard_pkey",
DROP COLUMN "addressEn",
DROP COLUMN "addressSi",
DROP COLUMN "fullNameEn",
DROP COLUMN "fullNameSi",
DROP COLUMN "gradeEn",
DROP COLUMN "gradeSi",
DROP COLUMN "parentsNameEn",
DROP COLUMN "parentsNameSi",
DROP COLUMN "specialNoteEn",
DROP COLUMN "specialNoteSi",
ADD COLUMN     "address" TEXT,
ADD COLUMN     "fullName" TEXT NOT NULL,
ADD COLUMN     "grade" TEXT,
ADD COLUMN     "libraryStatusConfirmationFile" TEXT,
ADD COLUMN     "parentsName" TEXT,
ADD COLUMN     "specialNote" TEXT,
ALTER COLUMN "id" SET DATA TYPE TEXT,
ADD CONSTRAINT "PrefectBoard_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "Sibling" DROP CONSTRAINT "Sibling_pkey",
DROP COLUMN "gradeEn",
DROP COLUMN "gradeSi",
DROP COLUMN "nameEn",
DROP COLUMN "nameSi",
ADD COLUMN     "grade" TEXT,
ADD COLUMN     "name" TEXT NOT NULL,
ALTER COLUMN "id" SET DATA TYPE TEXT,
ALTER COLUMN "studentId" SET DATA TYPE TEXT,
ADD CONSTRAINT "Sibling_pkey" PRIMARY KEY ("id");

-- AlterTable
ALTER TABLE "Student" DROP CONSTRAINT "Student_pkey",
DROP COLUMN "addressEn",
DROP COLUMN "addressSi",
DROP COLUMN "disabilityReasonEn",
DROP COLUMN "disabilityReasonSi",
DROP COLUMN "earlierSchoolEn",
DROP COLUMN "earlierSchoolSi",
DROP COLUMN "emergencyPersonAddressEn",
DROP COLUMN "emergencyPersonAddressSi",
DROP COLUMN "emergencyPersonNameEn",
DROP COLUMN "emergencyPersonNameSi",
DROP COLUMN "fatherFullNameEn",
DROP COLUMN "fatherFullNameSi",
DROP COLUMN "fatherJobAddressEn",
DROP COLUMN "fatherJobAddressSi",
DROP COLUMN "fatherJobEn",
DROP COLUMN "fatherJobSi",
DROP COLUMN "fullNameWithSurnameEn",
DROP COLUMN "fullNameWithSurnameSi",
DROP COLUMN "gradeEn",
DROP COLUMN "gradeSi",
DROP COLUMN "guardianFullNameEn",
DROP COLUMN "guardianFullNameSi",
DROP COLUMN "guardianJobAddressEn",
DROP COLUMN "guardianJobAddressSi",
DROP COLUMN "guardianJobEn",
DROP COLUMN "guardianJobSi",
DROP COLUMN "houseEn",
DROP COLUMN "houseSi",
DROP COLUMN "motherFullNameEn",
DROP COLUMN "motherFullNameSi",
DROP COLUMN "motherJobAddressEn",
DROP COLUMN "motherJobAddressSi",
DROP COLUMN "motherJobEn",
DROP COLUMN "motherJobSi",
DROP COLUMN "nameWithInitialsEn",
DROP COLUMN "nameWithInitialsSi",
DROP COLUMN "reasonForLeaveEn",
DROP COLUMN "reasonForLeaveSi",
DROP COLUMN "schoolEn",
DROP COLUMN "schoolSi",
ADD COLUMN     "address" TEXT,
ADD COLUMN     "disabilityReason" TEXT,
ADD COLUMN     "earlierSchoolReason" TEXT,
ADD COLUMN     "emergencyPersonAddress" TEXT,
ADD COLUMN     "emergencyPersonName" TEXT,
ADD COLUMN     "fatherFullName" TEXT,
ADD COLUMN     "fatherJob" TEXT,
ADD COLUMN     "fatherJobAddress" TEXT,
ADD COLUMN     "fullNameWithSurname" TEXT NOT NULL,
ADD COLUMN     "grade" TEXT,
ADD COLUMN     "guardianFullName" TEXT,
ADD COLUMN     "guardianJob" TEXT,
ADD COLUMN     "guardianJobAddress" TEXT,
ADD COLUMN     "house" TEXT,
ADD COLUMN     "motherFullName" TEXT,
ADD COLUMN     "motherJob" TEXT,
ADD COLUMN     "motherJobAddress" TEXT,
ADD COLUMN     "nameWithInitials" TEXT,
ADD COLUMN     "reasonForLeave" TEXT,
ADD COLUMN     "school" TEXT,
ALTER COLUMN "id" SET DATA TYPE TEXT,
ADD CONSTRAINT "Student_pkey" PRIMARY KEY ("id");

-- AddForeignKey
ALTER TABLE "Sibling" ADD CONSTRAINT "Sibling_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES "Student"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

/*
  Warnings:

  - You are about to drop the column `studentId` on the `PrefectBoard` table. All the data in the column will be lost.

*/
-- DropForeignKey
ALTER TABLE "PrefectBoard" DROP CONSTRAINT "PrefectBoard_studentId_fkey";

-- DropIndex
DROP INDEX "PrefectBoard_studentId_idx";

-- AlterTable
ALTER TABLE "PrefectBoard" DROP COLUMN "studentId";

-- CreateEnum
CREATE TYPE "LibraryStatus" AS ENUM ('VERY_GOOD', 'GOOD', 'NORMAL', 'WEAK');

-- CreateEnum
CREATE TYPE "SelectionStatus" AS ENUM ('SELECTED', 'NOT_SELECTED');

-- CreateTable
CREATE TABLE "PrefectBoard" (
    "id" UUID NOT NULL,
    "studentId" UUID,
    "fullNameEn" TEXT NOT NULL,
    "fullNameSi" TEXT,
    "addressEn" TEXT,
    "addressSi" TEXT,
    "gradeEn" TEXT,
    "gradeSi" TEXT,
    "entranceDay" TIMESTAMP(3),
    "entranceNo" TEXT,
    "firstTermPlace" TEXT,
    "firstTermMarks" DOUBLE PRECISION,
    "secondTermPlace" TEXT,
    "secondTermMarks" DOUBLE PRECISION,
    "thirdTermPlace" TEXT,
    "thirdTermMarks" DOUBLE PRECISION,
    "absentDaysCount" INTEGER,
    "isPrefect" "YesNo" NOT NULL DEFAULT 'NO',
    "isPrefectYears" INTEGER[],
    "isClassLeader" "YesNo" NOT NULL DEFAULT 'NO',
    "isClassLeaderYears" INTEGER[],
    "participateForCompetitions" "YesNo" NOT NULL DEFAULT 'NO',
    "participateForCompetitionsYears" INTEGER[],
    "isInAnnouncingClub" "YesNo" NOT NULL DEFAULT 'NO',
    "isInAnnouncingClubYears" INTEGER[],
    "isOnStage" "YesNo" NOT NULL DEFAULT 'NO',
    "isOnStageYears" INTEGER[],
    "participateToKatina" "YesNo" NOT NULL DEFAULT 'NO',
    "participateToKatinaYears" INTEGER[],
    "poyaDayCount" INTEGER,
    "studentAgreement" BOOLEAN NOT NULL DEFAULT false,
    "parentsNameEn" TEXT,
    "parentsNameSi" TEXT,
    "parentsAgreement" BOOLEAN NOT NULL DEFAULT false,
    "libraryStatus" "LibraryStatus",
    "specialNoteEn" TEXT,
    "specialNoteSi" TEXT,
    "teachersAgreement" BOOLEAN NOT NULL DEFAULT false,
    "teachersAgreementFile" TEXT,
    "teachersConfirmFile" TEXT,
    "regNo" TEXT,
    "marks" DOUBLE PRECISION,
    "status" "SelectionStatus" NOT NULL DEFAULT 'NOT_SELECTED',
    "date" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "PrefectBoard_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "PrefectBoard_studentId_idx" ON "PrefectBoard"("studentId");

-- AddForeignKey
ALTER TABLE "PrefectBoard" ADD CONSTRAINT "PrefectBoard_studentId_fkey" FOREIGN KEY ("studentId") REFERENCES "Student"("id") ON DELETE SET NULL ON UPDATE CASCADE;

# Please do not edit this file manually
# It should be added in your version-control system (e.g., Git)
provider = "postgresql"

